<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>soapSapConnect</name>
	<displayName><![CDATA[Soap Sap Connect]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[Modulo de prueba para conectarse a sap]]></description>
	<author><![CDATA[Cristian Gonzalez V]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
